.image-container {
	height: 200px;
    width: 400px;
	border: 3px solid rgb(100, 154, 224);
	border-radius: 10px;
    margin: 20px;
	display: inline-block;
	overflow: hidden;
  }
  
.image-container img {
	width: 100%;
	height: auto;
	transition: transform .5s ease;
}

.image-container:hover img{
	transform: scale(1.2);
}

.contact {
	margin: auto;
	padding: 0 22px 0 22px;
}
  
textarea {
	width: 100%;
	height: 100px;
	margin: 8px 0px;
	border: 1px solid #333;
	background-color: white;
}
  

input[type=submit] {
	background-color: lightgray;
	color: black;
}
  
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid rgb(100, 154, 224);
	box-sizing: border-box;
}
  
input[type=submit]:hover {
	opacity: 0.8;
}
  
label {
	display: inline-block;
  }